### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [81]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [82]:
#Utilize the length of the list 'SN' in regards to Total_Num_of_Players
Total_Num_of_Players = len(purchase_data["SN"].value_counts())

#Print The following Statement
print(f"Total number of players = {Total_Num_of_Players}")

Total number of players = 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [83]:
#Calculations for Number of Unique Items, Total Revnue, Number of Purchases & Average Price
Item_Number = len(purchase_data["Item ID"].value_counts())
Average_Price = round(purchase_data["Price"].mean(), 2)
No_Purchase = purchase_data.shape[0]
Total_Revenue = purchase_data["Price"].sum()
Gen_List = [Item_Number, Average_Price, No_Purchase, Total_Revenue]

#Create a Data Frame with the results of the prior performed Calculations
Gen_df = pd.DataFrame(data=[Gen_List])
Gen_df.columns = ["Number of Unique Items", "Average Price", "Number of purchase", "Total Revenue"]
Gen_df.style

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [84]:
#Group by Gender using purchase Data & count the screen names 'SN' according to Gender
Gender_Count = purchase_data.groupby('Gender')['SN'].nunique()

#Calculate the percent of each categorized Gender using the Gender count and divide by Total Number of Players
Gender_Percent = round(Gender_Count / Gender_Count.sum() * 100, 2)
Gender_df = pd.concat ([Gender_Count, Gender_Percent], axis=1)

#Designing our new Data Frame
Gender_df.columns = ["Total Count", "Percentage"]
Gender_df.style


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [85]:
#Count the number of Purchased Items in regards to Gender
Purchase_Count = purchase_data.Gender.value_counts()

#Average the Purchase Price by Gender
Average_Purchase_Price = round(purchase_data.groupby("Gender")["Price"].mean(), 2)
Average_Purchase_Price = '$' + Average_Purchase_Price.astype(str)

#Average Total Purchase by Gender
Total_Purchase_Value = round(purchase_data.groupby("Gender")["Price"].sum(), 2)

# Average purchase total by gender divivded by purchase count by unique shoppers
Average_Purchase_Total = round(Total_Purchase_Value / Gender_Count, 2)
Total_Purchase_Value = '$' + Total_Purchase_Value.astype(str)
Average_Purchase_Total = '$' + Average_Purchase_Total.astype(str)

#Create & Formate Data Frame
Purchase_df = pd.concat([Purchase_Count, Average_Purchase_Price, Total_Purchase_Value, Average_Purchase_Total], axis=1, sort=False)
Purchase_df.column = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Total Purchase Per Person"]

Purchase_df.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:18: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

                       Gender  Price     Price      0
Male                      652  $3.02  $1967.64  $4.07
Female                    113   $3.2   $361.94  $4.47
Other / Non-Disclosed      15  $3.35    $50.19  $4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [86]:
#Creating Categories for Ages  Age Group 
Ages = [10, 14, 19, 24, 29, 34, 39, 40, 1000]
Group_Names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Segment and Sort Age walues into the created categories
Age_Series = pd.cut(purchase_data.groupby("SN")["Age"].mean(), Ages, labels=Group_Names).value_counts()

#Calculate the percentages of each age category
Age_Percent = round(Age_Series / Age_Series.sum() * 100, 2)
Age_df = pd.concat([Age_Series, Age_Percent], axis=1, sort=True)
Age_df.columns = ["Total Number", "Percentage"]
Age_df.head()

       Total Number  Percentage
<10              15        2.72
10-14           107       19.38
15-19           258       46.74
20-24            77       13.95
25-29            52        9.42

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [87]:
#Formed Categories for Ages & Age Groups
Ages = [10, 14, 19, 24, 29, 34, 39, 40, 1000]
Group_Names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Locating and sorting out Age Values into the created Prior Categories 
purchase_data["Age Range"] = pd.cut(purchase_data.Age, Ages, labels= Group_Names)
Purchase_Count_Age = purchase_data["Age Range"].count()
Purchase_Count_Age

#Executing Basic Calculations for  purchase count, avg. purchase price, avg. purchase total per person
Average_Purchase_Age =  round(purchase_data.groupby("Age Range")["Price"].mean(), 2)
Average_Purchase_Age = '$' + Average_Purchase_Age.astype(str)
Total_Purchase_Age = round(purchase_data.groupby("Age Range")["Price"].sum(), 2)
Average_Purchase_Age = round(Total_Purchase_Age/ purchase_data.groupby('Age Range')['SN'].nunique(), 2)
Total_Purchase_Age = '$' + Total_Purchase_Age.astype(str)
Average_Purchase_Age= '$' + Average_Purchase_Age.astype(str)

#Formating the table below
Purchase_df_Age = pd.DataFrame({"Purchase Count": Purchase_Count_Age , "Average Purchase Price" :Average_Purchase_Age,"Total Purchase Value": Total_Purchase_Age})

Purchase_df_Age.head()

           Purchase Count Average Purchase Price Total Purchase Value
Age Range
<10                   748                   $3.4               $50.95
10-14                 748                  $3.86              $412.89
15-19                 748                  $4.32             $1114.06
20-24                 748                  $3.81               $293.0
25-29                 748                  $4.12               $214.0

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [88]:
#Group Purchased by 'SN' in regards to 'Price' $
Top_Spender = purchase_data.groupby("SN")["Price"].sum().nlargest(5)
Top_Average_Purchase = round(purchase_data.groupby("SN").Price.mean().loc[Top_Spender.index], 2)

#Group Non-Purchased by 'SN' in regards to 'Price' $
Top_Non_Purchase = purchase_data.groupby("SN").Price.count().loc[Top_Spender.index]
Top_df = pd.concat([Top_Non_Purchase, Top_Average_Purchase, Top_Spender], axis=1)

#Formatting the bottom Data Frame
Top_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
Top_df = Top_df.sort_values(by='Total Purchase Value', ascending=False)
Top_df.head().style

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [89]:
#Most Popular
#Creating a New Data Frame & Grouping them 
New_df = purchase_data[["Item ID", "Item Name", "Price"]]

New_df_group = New_df.groupby('Item ID')

#Get Item Name
ItemName = New_df[['Item ID', 'Item Name']]
#Get Item Price
ItemPrice = New_df[['Item ID', 'Price']]

#Get Item Counts
ItemCounts = New_df_group.count()
#Get Item Sums
ItemSums = New_df_group.sum()
#Get Top Items
ItemCountsBest = ItemCounts.sort_values('Item Name', ascending=False).head()

#Clean
ItemCountsBest = ItemCountsBest.rename(columns={'Item Name':'Purchase Count'})

ItemCountsBest = ItemCountsBest.reset_index()

ItemCountsBest = ItemCountsBest[["Item ID", "Purchase Count"]]

ItemCountData = ItemCountsBest.merge(ItemName, left_on='Item ID', right_on='Item ID')

ItemCountData = ItemCountData.merge(ItemPrice, left_on='Item ID', right_on='Item ID')

ItemCountData = ItemCountData.merge(ItemSums, left_on='Item ID', right_on='Item ID')

ItemCountData = ItemCountData.drop_duplicates(keep='first')

ItemCountData = ItemCountData.reset_index()

ItemCountData = ItemCountData.rename(columns={'Price_x':'Item Price'})

ItemCountData = ItemCountData.rename(columns={'Price_y':'Total Purchase Value'})

ItemCountData = ItemCountData[['Item ID', 'Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]

#Final Reset
ItemCountData

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
1,145,Fiery Glass Crusader,9,4.58,41.22
2,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
3,82,Nirvana,9,4.90,44.10
4,19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [90]:
#Most Profitable
#Creating a New Data Frame & Grouping them 
New_df = purchase_data[["Item ID", "Item Name", "Price"]]

New_df_group = New_df.groupby('Item ID')

#Get Item Name
ItemName = New_df[['Item ID', 'Item Name']]
#Get Item Price
ItemPrice = New_df[['Item ID', 'Price']]

#Get Item Counts
ItemCounts = New_df_group.count()
#Get Item Sums
ItemSums = New_df_group.sum()
#Get Top Items
ItemSumsBest = ItemSums.sort_values('Price', ascending=False).head()

#Clean
ItemSumsBest = ItemSumsBest.rename(columns={'Price':'Total Purchase Value'})

ItemSumsBest = ItemSumsBest.reset_index()

ItemSumsBest = ItemSumsBest[["Item ID", "Total Purchase Value"]]

ItemSumsBest = ItemSumsBest.merge(ItemName, left_on='Item ID', right_on='Item ID')

ItemSumsBest = ItemSumsBest.merge(ItemPrice, left_on='Item ID', right_on='Item ID')

ItemSumsBest = ItemSumsBest.merge(ItemCounts, left_on='Item ID', right_on='Item ID')

ItemSumData = ItemSumsBest.drop_duplicates(keep='first')

ItemSumData = ItemSumData.reset_index()

ItemSumData = ItemSumData.rename(columns={'Price_x':'Item Price'})

ItemSumData = ItemSumData.rename(columns={'Price_y':'Purchase Count'})

ItemSumData = ItemSumData.rename(columns={'Item Name_x':'Item Name'})

ItemSumData = ItemSumData[['Item ID', 'Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]

#Final Reset
ItemSumData

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
1,82,Nirvana,9,4.90,44.10
2,145,Fiery Glass Crusader,9,4.58,41.22
3,92,Final Critic,8,4.88,39.04
4,103,Singed Scalpel,8,4.35,34.80

In [91]:
#1st Observation: The Item that was most purchased at the lowest price and had the highest purchase value is the "Oathbreaker, Last Hope of the Breaking Storm"
#2nd Observation: The Gender that dominated purchases were Males.
#3rd Observation: The Least Age group that purchased games are 40 years of Age and above.